.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  padding: 20px;
  background-color: #f8f8f8;
}

form {
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.react-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.react-modal img {
  max-width: 100%;
}
